<footer op-60>
  <p mt-6 text-sm text-slate>

    <a
    border-b border-slate border-none hover:border-dashed
      href="http://blog.yuefuture.top" target="_blank"
    >
      YUE|BLOG （关注：Yue部落阁）
    </a>
    <span px-1>|</span>
    <a
    border-b border-slate border-none hover:border-dashed
      href="http://blog.yuefuture.top/usabout" target="_blank"
    >
      激励我们 ！！
    </a>
  </p>
</footer>
